<div class="side__upper">
  <div class="side__upper-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="side__upper-linkbox">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="side__lower">
  <div class="side__lower-roombox">
    <a href="#">techroom1</a>
  </div>
    <div class="side__lower-roombox">
    <a href="#">techroom2</a>
  </div>
</div>